div {
  width: 500px;
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid rgb(66, 66, 66);
  margin-top: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-image: url("img/background/images.png");
  background-size: 1500px;
  background-repeat: no-repeat;
}

h1 {
  color: rgb(82, 104, 86);
  font-family: monospace;
}

h2 {
  color: rgb(53, 124, 62);
  font-family: Arial, Helvetica, sans-serif;
}
a:hover {
  color: darkgray;
}

p {
  color: black;
}
a {
  color: black;
}
.smallhrhr {
  width: 200px;
  margin-left: 10px;
  
}

.aa {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wock {
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
}

.hrhrsmall {
  margin-left: 10px;
  width: 200px;
  margin-top: 25px;
  margin-bottom: 25px;
  
}
button {
  padding: 5px;
}
.snowboard {
  height: auto; 
  width: auto; 
  max-width: 200px; 
  max-height: 200px;
}
.game {
  height: auto; 
  width: auto; 
  max-width: 500px; 
  max-height: 500px;
}
.music {
  height: auto; 
  width: auto; 
  max-width: 500px; 
  max-height: 500px;
}
.sport {
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
}
.pages {
  margin: auto;
  text-align: center ;
  word-spacing: 15px;
  border-radius: 10px;
  font-style: italic;
  font-weight: 200;
  background-color: rgba(131, 255, 106, 0.19);
}
.interestshr {
  margin-left: 10px;
  width: 300px;
}




